<?xml version="1.0" encoding="utf-8"?>
<Settings>
    <DebugRemoteLoggerUrl>https://qa.server.gameconsole.mominis.com/services/LoggingService/WriteToLog</DebugRemoteLoggerUrl>
    <ReleaseRemoteLoggerUrl>https://server.gameconsole.mominis.com/services/LoggingService/WriteToLog</ReleaseRemoteLoggerUrl>
</Settings>
